*{
    margin: 0;
    padding: 0;
}
body { 
    background-color: #333333;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    text-align: center;
    color: white;
}
header{
    
    height: 100px;
    background-image: url('img/banner.svg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
input{
    width: 400px;
}
button{
    width:500px;
    font-size:30px;
    color: #0FA0D9;
    border: 1px solid #0FA0D9;
    border-radius: 3px;
    background-color: #191919;
    font-size: 20px;
    margin-top: 10px;
}
#divAccedoOregistro{   
margin-top: 80px;
}
footer{
    background-color: #0FA0D9;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;  
    padding-top: 10px;
}
.espacio{
    margin-bottom: 50px;
}
h1, h2{ 
    font-size: 40px;
}
table{
    border-collapse: collapse;
    color: black;  
}
tr{
    border-bottom:  1px solid gray;
    height: 30px;
}
tr:nth-child(even){
    background-color: rgb(190, 190, 190)
}
tr:nth-child(odd){
    background-color: #ececec
}
tr:nth-child(1)
{
    background-color: white
}
tr:hover{
    background-color: #c6e9e8
}
th{
    text-align: left
}
input {
    margin-top: 10px;
}
#btnAcceder, #btnRegistroIr, #btnCancelarRegistro, #btnRegistro{
    width: 200px;
}
#tablaCompetencias button{
    width: 120px;
}
/* estan en el js function listarEquipos*/
.botonDejarEquipo, .botonUnirmeEquipo{
    width: 50px;
}
/*responsivo*/
#tablaEquipos{
    width: 100%;
}
#tablaCompetencias{
    width: 100%;
}
#tablaReporteSocios{
    margin-left: 20%;
    width: 800px;
}
#tablaReporteAdmin{
    width: 100%;
}
#tablaSocios{
    margin-left: 20%;
    width: 800px;
}
@media screen and (max-width:1024px)
{
    #tablaReporteSocios{
        
        width: 500px;
    }
    #tablaSocios{
        width: 500px;
    } 
}
@media screen and (max-width:768px)
{
    #tablaReporteSocios{
        width: 300px;
    }
    #tablaSocios{
        width: 300px;
    }   
}


